
#form1{
  
  text-align: center;
  margin: auto;
  border-color: red;
  border: solid;
  
  
}
input[type=submit]{
  background-color:rgb(234, 124, 212);
  size: 30px;
}
h1,h2{
  margin: 50px;
  text-align: center;
}
img{
  margin-top: 30px;
}

